<!-- 

<div class="font">
<div id="mySidenav" class="sidenav">
  <a href="javascript:;" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <div class="dropdown">
    <a  class="default">Interventions</a>
    <div class="dropdown-content">
    <a href="#"class="slide-right">Link 1</a>
    <a href="#" class="slide-right">Link 2</a>
    <a href="#" class="slide-right">Link 3</a>
     
  </div>
  
  </div>
  <a href="javascript:;" (click)="logout()">Logout</a>
  

</div>



<div class="side" (mouseenter)="openNav()">
    

</div>
</div> -->

 

<div  class="sidenav">
  <p class="color text-center">Welcome back {{username}}</p>
  
  <a  routerLink="/home"><i class="fa fa-home "><span class="moveright">Home</span></i></a>
  <a href="#"><mat-icon >medical_services<span class="moveright">Services</span></mat-icon></a>
  <a routerLink="/intervention/view"><mat-icon >healing<span class="moveright">Interventions</span></mat-icon></a>
  <a routerLink="/patient/view"><i class="fa fa-users "><span class="moveright">Patients</span></i></a>
  <a class="cursortype" (click)="logout()"><i class="fa fa-power-off" ><span class="moveright">Logout</span></i></a>
</div>
