<div class="text-center register_div ">
    <div class="slide-bottom">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <div class="form-group ">
          <label>Name:</label>
          <input type="text" class="form-control text-center " formControlName="ime" placeholder="Enter your name">
         
        </div>
        <div class="form-group">
          <label>Last name:</label>
          <input type="text" class="form-control text-center" formControlName="prezime" placeholder="Enter your last name">
         
        </div>
        
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control text-center" formControlName="email" placeholder="email">
            
          </div>

          <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control text-center" formControlName="username" placeholder="username">
           
          </div>

          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control text-center" formControlName="passwordHash" placeholder="Enter your password">
           
          </div>
  
        
        <input type="submit" value="Submit" class="btn btn-primary "/>
      </form>
    </div>
  </div>