


<div id="mySidenav" class="sidenav">
  <a href="javascript:;" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <div class="dropdown">
    <a  class="default">Interventions</a>
    <div class="dropdown-content">
    <a href="#"class="slide-right">Link 1</a>
    <a href="#" class="slide-right">Link 2</a>
    <a href="#" class="slide-right">Link 3</a>
     
  </div>
  
  </div>
  <a href="javascript:;" (click)="logout()">Logout</a>
  

</div>



<div class="side" (mouseenter)="openNav()">
    

</div>

<!-- <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "190px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>
   -->
 
